#!/bin/sh

### BEGIN INIT INFO
# Provides:          vufind
# Required-Start:    $local_fs $remote_fs $network
# Required-Stop:     $local_fs $remote_fs $network
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: vufind init script for vufind
# Description:       vufind manages the resque workers
### END INIT INFO

shared_dir="<%= @vufind_code_path %>"

# Specify the user to run as
RUNAS=puppetadmin

case "$1" in
  start|stop|restart)  
    CMD=$1
    ;;
  *)
    echo "Usage: $0 {start|stop|restart}"
    exit
esac

# Call the main vufind start script with JETTY_CONSOLE disabled
su -c "export JETTY_CONSOLE=/dev/null; $shared_dir/vufind.sh $CMD" - $RUNAS
